*.pro.user
HedgeHoggerTest
debug/
Makefile
Makefile.Debug
Makefile.Release
*.pro.user
oclint-0.10.3/
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz.1
oclint.log
